<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CustomApi\Api\CustomEndpointInterface" type="Magento\CustomApi\Model\CustomEndpoint" />
    <preference for="Magento\CustomApi\Api\Data\CustomResponseInterface" type="Magento\CustomApi\Model\Data\CustomResponse" />
</config>