<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BackEnd\ServiceIntegration\Api\RestClientInterface" type="BackEnd\ServiceIntegration\Model\Client\RestClient" />
    <preference for="BackEnd\ServiceIntegration\Api\SoapClientInterface" type="BackEnd\ServiceIntegration\Model\Client\SoapClient" />
</config>