<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BackEnd\Webhook\Api\WebhookManagementInterface" type="BackEnd\Webhook\Model\WebhookManagement"/>
    <preference for="BackEnd\Webhook\Api\Data\WebhookInterface" type="BackEnd\Webhook\Model\Webhook"/>
</config>